{% extends "base.html" %}
{% block title %} Author form {% endblock title %}
{% block content %}

{% comment %} <div class="card text-center" style="width: 50%;">
    <div class="card-body">
    <p class="card-text"> {% endcomment %}
        <form action="" method="POST">
            <table class="table">
            {%csrf_token %} 
            {{ form }}
            <tr>
                <td><input type="hidden" name="next" value="{{ next }}"></td>
            </tr>
            </table>
            <input type="submit" value="Post" />
        </form>
    {% comment %} </p>
    </div>
</div> {% endcomment %}
{% endblock %}